{% extends 'base3.html' %}

{% block content %}
{% if user.is_authenticated %}
    <div>
        <a href="{% url 'account_logout' %}">Logout</a>/
        <a href="{% url 'account_change_password' %}">Change Password</a>/
        <span> You are logged in as: '{{user.username}}' !</span>


    </div>
{% else %}
     <div>
        <a href="{% url 'account_login' %}">Login</a>/
        <a href="{% url 'account_signup' %}">Signup</a>/
        <span> Hello 'visitor' !</span>


    </div>
{% endif %}

<div class="text-center"> <h1 style="font-family:san-serif">WELCOME</h1> </div>

{% endblock%}